<!-- Minha página 1 do menu -->

<ion-view view-title="{{pag1}}">
	   <ion-content class="scroll-container"  padding="true" >
			
			<div>
				
					<div class="texto">
					"Fazer parte do Time Start significa integrar em uma filosofia que valoriza o funcionário e agrega valor ao seu cliente. Acreditar que comprometer-se  e participar gerará sucesso, oportunidade  essa, que será um crescimento pessoal e profissional. Sinto que a Start é o lugar onde minhas  qualificações e paixões podem fazer a diferença."
					</div>	
			</div>
			<div class="Aligner">
			<p><img src = "img/valeria.png"> </p>
			</div>
		
	</ion-content>	
	<ion-footer-bar class="bar-dark" align-title="center">
		 <div class = "title" > Start Investimentos </div>
	</ion-footer-bar> 
</ion-view>