
<!-- Minha página 2 do menu -->

<ion-view view-title="{{pag2}}">
	<ion-content>
			<div class="Aligner">
			<p><img src = "img/val.png"></p>

			</div>

			<div>
					<div class="texto" class="card" class="col">
					"Tenho força de vontade, comprometimento e vontade enorme de crescer, para alcançar satisfação profissional, pessoal , sucesso!"
					</div>	
			</div>
			<div class = "titulo"class="center-side" onclick="alert('Quero fazer parte do seu Time!');">
				<button class = "button  button-dark">Para o alto e avante </button>

			 </div>
	</ion-content>	
	<ion-footer-bar class="bar-dark" align-title="center">
		 <div class = "title" >  </div>
	</ion-footer-bar> 
</ion-view>
